.edu {
  margin: 0;
  /* background-color: #e4cd6d; */
  background: linear-gradient(#b3d2a8, #9bbab2);
  padding: 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.edu-card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edu-card {
  padding: 25px;
  margin: 10px 30px;
}

.edu-card > h3 {
  font-weight: bold;
}

.edu-card > h4 {
  font: gray;
}

.edu-card > img {
  width: 160px;
  height: auto;
}
