.home {
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;

  padding: 20px;
}

.home-card {
  border-radius: 50%;
  padding: 0;
  margin: 0;
}

img {
  overflow: hidden;
  height: 400px;
}

h2 {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 40px;
}

.intro {
  margin: 30px;
}

h3 {
  font-size: 35px;
  font-weight: bold;
  margin: 0;
}

.lang {
}

.description {
  font-size: 25px;
}

.description > p {
  margin-bottom: 0;
}

@keyframes moving-arrow {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 15px;
  }
}

.detail-btn-wrapper {
  margin: 30px;

  animation-name: moving-arrow;
  animation-duration: 0.8s;
  animation-duration: leaner;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

.detail-btn {
  padding: 5px 18px 10px 18px;

  font-size: 30px;

  border-radius: 50%;
  border: none;
}
