.home {
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;

  padding: 20px;
}

@keyframes card-animation {
  from {
    transform: scale(0.8);
    opacity: 0.5;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.home-card {
  border-radius: 50%;
  padding: 0;
  margin: 0;

  animation: card-animation 2s;
  animation-iteration-count: 1;
}

img {
  overflow: hidden;
  height: 400px;
}

h2 {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 40px;
}

.intro {
  margin: 30px;
}

h3 {
  font-size: 35px;
  font-weight: bold;
  margin: 0;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.lang {
  margin: 0;
  animation: fadein 2s;
  animation-iteration-count: infinite;
}

.lang.JAVASCRIPT {
  background: linear-gradient(#f7d238, #e4a425);
}
.lang.HTML {
  background: linear-gradient(#e99d80, #e65026);
}
.lang.CSS {
  background: linear-gradient(#2eaadb, #0673b0);
}
.lang.REACT {
  background: linear-gradient(#56bad2, rgb(44, 44, 44));
}

.lang.JAVASCRIPT,
.lang.HTML,
.lang.CSS,
.lang.REACT {
  color: transparent;
  -webkit-background-clip: text; /* background 를 어디까지 적용시키는지 */

  animation: fadein 2s;
  animation-iteration-count: infinite;
}

.description {
  font-size: 25px;
}

.description > p {
  margin-bottom: 0;
}

@keyframes moving-arrow {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: 15px;
  }
}

.detail-btn-wrapper {
}

.detail-btn {
  padding: 5px 18px 10px 18px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);

  font-size: 30px;

  border-radius: 50%;
  border: none;

  cursor: pointer;

  animation-name: moving-arrow;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
