.home {
  display: flex;
  flex-direction: column;
  padding: 110px 0 40px 0;

  align-items: center;
  text-align: center;
}

.home > h1 {
  margin-top: 80px;
}

.title {
  margin: 90px 0 40px 0;
}

.title > h1 {
  font-size: calc(25px + 5vw);
  letter-spacing: 0.02em;
  text-shadow: 0 0 0.15em #1da9cc;

  filter: blur(0.007em);

  animation: fadein 4s;
  animation-iteration-count: 1;
}

.title > h2 {
  font-size: 20px;
  color: #f7d238;
  letter-spacing: 15px;

  animation: fadein 6s;
  animation-iteration-count: 1;
}

@keyframes card-animation {
  from {
    transform: scale(0.8);
    opacity: 0.5;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.description {
  margin-top: 30px;
  font-size: 20px;
}

.description > p {
  margin-bottom: 0;

  animation: fadein 7s;
  animation-iteration-count: 1;
  color: rgba(229, 229, 240, 0.808);
}

@keyframes moving-arrow {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: 10px;
  }
}

.scroll {
  height: 50px;
  margin: 50px;
}

.scroll > img {
  cursor: pointer;

  width: 20px;
  height: auto;

  animation-name: moving-arrow;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
