.project {
}

.project-card-wrapper {
  display: flex;
  flex-direction: row;
}

.project-order {
  float: right;
  font-size: 13px;
  color: rgb(110, 110, 110);
}

.slide {
  position: relative;
  margin: 0 40px;
}

.slide > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.project-card {
  width: 800px;
  height: 750px;
  margin-top: 40px;
  overflow-y: scroll;
}

.project-card::-webkit-scrollbar {
  width: 0px;
}

.project-title {
  text-align: center;
  margin-bottom: 10px;
}

.project-card > h4 {
  text-align: center;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 40px;
}

article {
  margin: 0px 15px;
  text-align: left;
}

.project-img {
  text-align: center;
}

.project-img > img {
  width: 310px;
}

.link-wrapper {
  background-color: #f2dd68;
  padding: 0 10px;
  width: auto;
  border-radius: 10px;
  font-weight: bold;
}

@media screen and (min-width: 280px) and (max-width: 540px) {
  .project-img > img {
    width: 100%;
  }
}

@media screen and (min-width: 280px) and (max-width: 1080px) {
  .project-card-wrapper {
    width: 95vw;
  }

  .project-card {
    padding: 5vw 5vw;
    height: 100vh;
    word-break: break-all;
  }

  article {
    text-align: center;
  }

  section {
    flex-direction: column;
    margin-top: 40px;
  }

  .info-article {
    margin-bottom: 35px;
  }

  .slide {
    margin: 0 3vw;
  }

  .slide > img {
    width: 5vw;
  }
}
