.skills {
  background: linear-gradient(#ebe996, #ebf9ac);
}

.skill-img-wrapper > img {
  width: 250px;
  height: auto;
}

.skill-card {
  width: 250px;
}

.skill-title {
  margin: 0 0 30px 0;
  color: rgb(83, 83, 88);
}
