.skills {
  background: linear-gradient(#ebe996, #ebf9ac);
  padding: 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.skills-main-title {
  margin: 0 0 40px 0;
}

.skill-card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skill-img-wrapper > img {
  width: 250px;
  height: auto;
}

.skill-card {
  width: 250px;
  padding: 20px 40px;
  margin: 30px;
}

.skill-title {
  margin: 0 0 30px 0;
  color: rgb(83, 83, 88);
}
