.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #1616168c;
  z-index: 1;
  backdrop-filter: blur(10px);
}

.header-contents {
  width: 100%;
  display: flex;
  padding: 20px 0;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
}

.header-title {
  font-size: 25px;
  cursor: pointer;
  padding: 0 40px;

  font-family: "Montserrat", sans-serif;
}

.menu-list {
  display: flex;
  flex-direction: row;
  padding: 0 40px;
  justify-content: space-around;
}

.menu-item {
  padding: 0 5px;
  margin: 0 10px;
}

.menu-item.visible {
  font-weight: 600;
  background-color: #f2dd68;
  color: #161616;
}

.menu-item > div {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
}
