.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #161616b9;
  z-index: 1;
}

.header-contents {
  width: 100%;
  display: flex;
  padding: 20px 0;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
}

.header-title {
  font-size: 25px;
  cursor: pointer;
  padding: 0 40px;

  font-family: "Montserrat", sans-serif;
}

.menu-list {
  display: flex;
  flex-direction: row;
  padding: 0 40px;
  justify-content: space-around;
}

.menu-item {
  margin: 0 20px;
}

.menu-item > div {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
}
