.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #1616168c;
  z-index: 1;
  backdrop-filter: blur(10px);
}

.header-contents {
  display: flex;
  padding: 20px 0;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
}

.title-toggle {
  position: relative;
  padding: 0 40px;
  text-align: center;
}

.header-title {
  margin: 0;
  font-size: 22px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.toggle-button {
  display: none;
}

.toggle-button > img {
  position: absolute;
  top: 40%;
  right: 20px;
  transform: translateY(-50%);
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.menu-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0 35px;
  margin: 0px;
  justify-content: space-around;
}

.menu-item {
  text-align: center;
  padding: 2.3px 10px 0 10px;
  margin: 0 5px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  cursor: pointer;
}

.menu-item.visible {
  font-weight: 600;
  background-color: #f2dd68;
  color: #161616;
}

@media screen and (min-width: 280px) and (max-width: 750px) {
  .header-contents {
    flex-direction: column;
  }

  .title-toggle {
    padding: 0;
    text-align: center;
  }

  .header-title {
    font-size: 25px;
  }

  .menu-list {
    display: none;
    flex-direction: column;
    padding: 10px 0;
    align-items: center;
  }

  .menu-item {
    line-height: 25px;
    margin-top: 10px;
  }

  .toggle-button {
    display: flex;
    margin-right: 40px;
    cursor: pointer;
  }

  .menu-list.visible {
    display: flex;
    flex-direction: column;
  }
}
