.top-btn {
  position: fixed;
  right: 20px;
  bottom: 30px;
  margin: 10px 30px;
  background-color: rgba(245, 245, 220, 0.719);
  padding: 15px 17px;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
}

.top-btn > img {
  width: 20px;
  height: auto;
}
