body {
  margin: 0;
  font-family: "Gowun Dodum", sans-serif;
  align-items: center;
}

.App {
}

h1 {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 40px;
}

h2 {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 30px;
}
